In [86]:
# import numpy and pandas
import numpy as np
import pandas as pd

In [87]:
# read several datasets
data=pd.read_csv('results/2020-07-15 2020 VIRTUAL COLONIE MILE Hudson Mohawk Road Runners Club.csv')
data.head()

,First name,Last name,Gender,e-Mail,Age,City,State,Time,Event registration date,Member
0,Samuel,Mercado,Male,mercadosam31@gmail.com,57,Saratoga Springs,New York,5:39,07/15/2020 07:17:36,Yes
1,Kyle D.,Ordway,Male,hoochkyle@gmail.com,45,Albany,NY,7:56,07/15/2020 06:41:18,Yes
2,Andrew,Pavlou,Male,atpavlou@gmail.com,33,Guilderland,NY,5:46,07/14/2020 21:51:12,No
3,Craig,DuBois,M,graigdubois64@gmail.com,56,Sprakers,NY,5:56,07/14/2020 21:36:26,Yes
4,Michele,Celello,F,mcelello@gmail.com,53,East Greenbush,NY,9:50,07/14/2020 20:27:27,Yes

In [88]:
def timeToSeconds(time):
    
    temp=time.split(':')
    try:
        if (len(temp)==2):
            return 60*int(temp[0])+int(temp[1])
        elif (len(temp)==1):
            return 60*int(temp[0])
    except:
        return 100000

In [89]:
data['seconds']=data['Time'].apply(lambda x: timeToSeconds(x))
data=data.drop('e-Mail', axis=1)

In [90]:
data.head()

,First name,Last name,Gender,Age,City,State,Time,Event registration date,Member,seconds
0,Samuel,Mercado,Male,57,Saratoga Springs,New York,5:39,07/15/2020 07:17:36,Yes,339
1,Kyle D.,Ordway,Male,45,Albany,NY,7:56,07/15/2020 06:41:18,Yes,476
2,Andrew,Pavlou,Male,33,Guilderland,NY,5:46,07/14/2020 21:51:12,No,346
3,Craig,DuBois,M,56,Sprakers,NY,5:56,07/14/2020 21:36:26,Yes,356
4,Michele,Celello,F,53,East Greenbush,NY,9:50,07/14/2020 20:27:27,Yes,590

In [91]:
data=data.sort_values(by='seconds')
data=data.drop('seconds',axis=1)
data=data.drop('Event registration date',axis=1)
data=data.reset_index(drop=True)
data.head()

  First name Last name  Gender  Age              City     State  Time Member
0     Samuel   Mercado    Male   57  Saratoga Springs  New York  5:39    Yes
1     Andrew    Pavlou    Male   33       Guilderland        NY  5:46     No
2      Craig    DuBois       M   56          Sprakers        NY  5:56    Yes
3      Jenna  Robinson  Female   24              Troy        NY  6:37    Yes
4        Joe    Keenan    Male   60            Hudson        NY  6:54    Yes

In [92]:
markdown=data.to_markdown();

In [93]:
fname='leaderboard.md'
out_file=open(fname, "w")
out_file.write(markdown)
out_file.close()

In [94]:
csvname='leaderboard.csv'
data.to_csv(csvname)