In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

In [4]:
# read several datasets
data=pd.read_csv('results/2020-07-12 2020 VIRTUAL COLONIE MILE Hudson Mohawk Road Runners Club.csv')
data.head()

  First name Last name Gender              e-Mail  Age   Time
0      Brian   Northan   Male  bnorthan@gmail.com   45  10:44
1      Brian   Northan   Male  bnorthan@gmail.com   45  11:34

In [5]:
def timeToSeconds(time):
    temp=time.split(':')
    return 60*int(temp[0])+int(temp[1])

In [6]:
data['seconds']=data['Time'].apply(lambda x: timeToSeconds(x))

In [7]:
data.head()

  First name Last name Gender              e-Mail  Age   Time  seconds
0      Brian   Northan   Male  bnorthan@gmail.com   45  10:44      644
1      Brian   Northan   Male  bnorthan@gmail.com   45  11:34      694

In [8]:
data=data.sort_values(by='seconds')

In [9]:
markdown=data.to_markdown();

In [11]:
fname='leaderboard.md'
out_file=open(fname, "w")
out_file.write(markdown)
out_file.close()